<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Editar horários de aulas</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br>
        <form class="form-horizontal form-label-left">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Horário:</label>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <input type="text" class="form-control" placeholder="Etapa">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <input type="text" class="form-control" placeholder="Horário início">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <input type="text" class="form-control" placeholder="Horário fim">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>